.container1{
    margin-top: 30px;
    margin-bottom: 20px;

}

.container2{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.containerbtn{

    margin-left: 46%;
}

.bio{
    margin: 45px 0px;
}

.containerbtnend{

    margin-left: 46%;
    margin-bottom: 90px;
}

.output{

    margin-top: 90px;
}

.read1{
    margin-top: 50px;
}

.read2{
    margin-top: 60px;
}